apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: main-pool
spec:
  blocks:
    - cidr: 192.168.1.240/28  # TODO: adjust to your network
---
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: default
spec:
  loadBalancerIPs: true
  interfaces:
    - ^br[0-9]+   # bridge interfaces
    - ^eth[0-9]+  # ethernet interfaces
    - ^enp.*      # predictable naming
